<%- include("../../partials/header.ejs", {title: "404 not found!", active: ""}) %>

<div class="container my-container my-5">
    <h1 class="display-4 text-center">404 Not found!</h1>
</div>


<%- include("../../partials/footer.ejs") %>

</body>
</htmL>